body
{
background-color: rgb(255, 255, 255);
margin-left: auto;
margin-right: auto;
width: auto;
max-width: 40em;
text-align: justify;
}

.italique
{
  font-style: italic;
}

.gras
{
  font-weight: bold;
}

#blochaut
{
    color: rgb(3, 4, 94);
    background-image: url(images/bandeauhautopaque.png) ;
    display:flex;
    justify-content:flex-start;
    border:solid;
}
#bloccentral
{
    background-color: rgb(202, 240, 248);
    padding: 10px;
}
.blocverticalhaut
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 180, 216, 0.548);
    flex-grow: 3;
}
.blocposte
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: rgba(0, 180, 216, 0.233);
    flex-grow: 2;
  
}

.blocimage
    {
      display:flex;
      align-items: center;
      flex-grow: 1;
      justify-content: center;
    }

img {
    width : 100px;
    height : 100px;
    border-radius: 30px;
    }


    
table
{
    border-collapse: collapse;
    width: 100%;
    border: solid 2px;
}
td
{
    padding-right: 5%;
    width: 50%;
    border: solid 2px;
}
th
{
    border: solid 2px;
}
#blocbas
{
    display: flex;
    text-align: left;
    background-color: rgb(202, 240, 248);
    padding: 10px;
    border: none;
}
h1
{
    color:rgb(255, 255, 255)
}
h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(3, 4, 94);
    margin-top: 0%;
}


/* page hobby */

.hobby
{
    background-color: rgb(59, 59, 59);
    color :white;
    text-align: center;
}
.hobby p
{
font-size: 1.5em;
}
.hobby h1

{font-family: AlphaMonday }
@font-face 
{
        font-family: AlphaMonday;
        src: url("./AlphaMonday.otf");
}

.hobby img
 {position: fixed ;
    left : 1300px;
    width : 200px;
    height: 200px;
 }
a
{
    color: rgb(255, 0, 0);
}

iframe
{
    aspect-ratio: 16/9;
    width: 560px;
    height: auto;
    width: 100%;
}

/* contact */

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 450px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 110px;
    text-align: right;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }
  
  /* .radio
  {
     width: 100px;
  } */

  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 8em;
  }
  
  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px; /* même taille que les étiquettes */
  }
  
  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: .5em;
  }

  .contact p
{
    text-align: center;
    margin: auto;
}
.contact a
{
    color: rgb(154, 68, 194);
}

/* grid */

body .container
{
    background-color: rgba(175, 175, 175, 0.774);
      text-align: justify;
      max-width: 100%;
      color :white;
    }

.container {
    height: 100vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 10px 10px; 
  }
  .header { grid-area: 1 / 1 / 2 / 5; background-color: blue; }
  .bodyleft { grid-area: 2 / 1 / 5 / 3;background-color: rgba(119, 119, 219, 0.767); }
  .bodyright { grid-area: 2 / 3 / 5 / 5;background-color: rgba(73, 73, 156, 0.767); }
  .footer { grid-area: 5 / 1 / 6 / 5; }


  /* responsive */

@media screen and (max-width: 480px)
{
  #blochaut
  {
      display:flex;
      flex-direction: column;
      border:none;
  }
  .blocverticalhaut
  {
    order:2;
  }
  .blocposte
  {
    order:3;
  }
  img
  {
    order : 1
  }
}